<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <p><%= data %></p>
    <h1>Hello world Home Page NodeJS</h1>
</body>
</html>